/* BOOTSTRAP NAVBAR Changes */
.margleft{
    margin-left: 50%!important;
}


/* COLORS */
.ltrblack{
    color: black;
}
.ltrwhite{
    color: white;
}


.gold {
    background-color: #AB9531;}

.dark_blue{
    background-color: #02244A;}

.peach_tan{
    background-color: #FF9B73;}

.denim_blue{
    background-color: #406D7A;}

.tan{
    background-color: #BD8D62;}

.green_gold{
    background-color: #B1A062;}

.gold_grade{
    background-image: linear-gradient(
    rgba(171, 149, 49, .1), rgba(171, 149, 49, 1));
}
.dark_blue_grade{
    background-image: linear-gradient(
    rgba(2, 36, 74, .5), rgba(2, 36, 74, 1));
}
.peach_tan_grade{
    background-image: linear-gradient(
    rgba(255, 155, 115, .1), rgba(255, 155, 115, 1))!important;
}
.denim_blue_grade{
    background-image: linear-gradient(
    rgba(64, 109, 122, .5), rgba(64, 109, 122, 1))!important; 
}
.tan_grade{
    background-image: linear-gradient(
    rgba(189, 141, 98, .1), rgba(189, 141, 98, 1))!important;
}
.green_gold_grade{
    background-image: linear-gradient(
    rgba(177, 160, 98, .1), rgba(177, 160, 98, 1))!important;
}
